*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #390861;

}

.container{
    height: 500px;
    width: 300px;
    
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.text-container{   
    margin-top: 15px; 
    text-align: center;
}

img{
    width: 100%;
}

h1{
    color: #000;
    margin-top: 5px;
    font-size: 25px;
}
p{
    color: rgba(104, 99, 99, 0.548);
    margin-top: 15px;

}

